@keyframes rotate {
    0% {
        transform: translate(-50%, -10%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -10%) rotate(180deg);
    }
    100% {
        transform: translate(-50%, -10%) rotate(360deg);
    }
}
.border-gradient {
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.border-gradient:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;

    height: 8000px;
    width: 8000px;
    animation-timing-function: linear;
    background: conic-gradient(
        var(--primary),
        var(--secondary),
        var(--primary)
    );
    animation-iteration-count: infinite;
    animation-duration: 10000ms;

    animation-name: rotate;
}
.gradient-text {
    display: flex;
    background-image: linear-gradient(60deg, var(--primary), var(--secondary));
    background-clip: text;
    color: transparent;
}