@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* GERAL */
        --px: 0.063rem; /*1px*/
        --px2: 0.125rem;
        --px3: 0.188rem;
        /* TEXT SIZE */
        --text_xs: 0.75rem;
        --text_sm: 0.875rem;
        --text_base: 1rem;

        /* FONT */
        --font_body: "Nunito", sans-serif;
        --font_title: "Anybody", sans-serif;

        /*INPUT*/
        --round: 0.375rem;
        --input_height: 3rem;
        --input_padding: 0rem 1.053rem;
        --label_padding: 0.25rem 0.5rem;
        --input_round: 0.375rem;
        --input_weight: 300;
        --label_weight: 600;
        --checkbox_size: 1.3rem;
        --checkmark_size: 1rem;
        /* BUTTON */
        --button_label_weight: 600;
        --button_min_width: 2.5rem;
        --button_min_height: 1rem;

        /*TRANSITION*/
        --duration: all 200ms;
    }
}
