@keyframes fade-in {
  from {
    filter: opacity(0);
    transform: translateX(-100%);
  }
  to {
    filter: opacity(100%);
    transform: translateX(0%);
  }
}
@keyframes fade-out {
  0% {
    filter: opacity(100%);
    transform: translateX(0%);
    display: flex;
  }
  80% {
    filter: opacity(0%);
    transform: translateX(100%);
    display: flex;
  }
  90% {
    filter: opacity(0%);
    transform: translateX(100%);
    display: flex;
    position: static;
  }
  100% {
    filter: opacity(0%);
    transform: translateX(100%);
    display: none;
    width: 0px;
    height: 0px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0px;
    border: 0px;
  }
}
.task-card-active {
  animation: fade-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  transition-duration: 0ms;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  transform: translateX(-100%);
  animation-fill-mode: forwards;
}

.task-card {
  animation: fade-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  transition-duration: 0ms;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  transform: translateX(-100%);
  animation-fill-mode: forwards;
}
