.gradient-text {
    display: flex;
    background-image: linear-gradient(60deg, var(--primary), var(--secondary));
    background-clip: text;
    color: transparent;
}
.icon-hgradient {
    fill: url(#gradient-vertical) gray;
}

@keyframes rotate {
    0% {
        transform: translate(-50% , -50%) rotate(0deg);
    }
    50% {
        transform: translate(-50% , -50%) rotate(180deg);
    }
    100% {
        transform: translate(-50% , -50%) rotate(360deg);
    }
}
.gradient-svg {
    position: relative;
    overflow: hidden;
    border-radius: 20px;

    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.gradient-svg svg {
    position: relative;
    z-index: 1;
}
.gradient-svg:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0%;
    left: 50%;

    height: 150%;
    width: 150%;
    animation-timing-function: linear;
    background: linear-gradient(var(--primary), var(--secondary));
    animation-iteration-count: infinite;
    animation-duration: 5000ms;

    animation-name: rotate;
}
.static-gradient-svg {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
}
.static-gradient-svg svg {
    position: relative;
    z-index: 1;
}
.static-gradient-svg:before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--primary), var(--secondary));
}
.gradient-button {
    background: linear-gradient(to bottom, var(--primary), var(--secondary));
}
