/*
 * react-circular-progressbar styles
 * All of the styles in this file are configurable!
 */
.task-card-wrapper {
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.1))
        drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
}
.task-card {
    display: flex;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2), 5px 5px 20px rgba(0, 0, 0, 0.2),
        inset -8px -8px 40px rgba(0, 0, 0, 0.05);

    background: linear-gradient(
        180deg,
        rgba(187, 235, 255, 1) 0%,
        rgba(187, 235, 255, 1) 12%,
        rgba(170, 220, 241, 1) 75%,
        rgba(195, 229, 244, 1) 100%
    );
    clip-path: url(#stickyClip);
}

.task-card:not(:last-child) {
    margin-right: 0.5rem;
}
.task-card2 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    padding: 1rem;
    border-radius: 1px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.05), 5px 5px 10px rgba(0, 0, 0, 0.2),
        inset -15px -10px 40px rgba(0, 0, 0, 0.1),
        inset 0px 100px 50px 0px rgba(0, 0, 0, 0.06);
    transform: rotateX(-5deg) rotateY(5deg);
}

.task-card2:not(:last-child) {
    margin-right: 0.5rem;
}
.CircularProgressbar {
    /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   */
    width: 100%;
    overflow: visible;
    /*
   * This fixes a centering issue with CircularProgressbarWithChildren:
   * https://github.com/kevinsqi/react-circular-progressbar/issues/94
   */
    vertical-align: middle;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: var(--primary);
    filter: drop-shadow(0px 0px 5px rgba(var(--primary_rgb), 0.2));
    stroke-linecap: square;
    -webkit-transition: stroke-dashoffset 0.5s ease 0s;
    transition: stroke-dashoffset 0.5s ease 0s;
}
.CircularProgressbar:hover .CircularProgressbar-path {
    stroke: var(--red);
}

.CircularProgressbar .CircularProgressbar-trail {
    stroke: var(--background);
    /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
    stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-text {
    fill: #3e98c7;
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
    fill: var(--background);
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted
    .CircularProgressbar-background {
    fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
    fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
    stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
    stroke: transparent;
}

